<div>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal1">
    Launch modal 1
  </button>
  <modal-dialog modalId="modal1">
    <div head> Dialog 1! </div>
    <div body> Body 1 </div>
    <div footer> Footer 1 </div>
  </modal-dialog>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal2">
    Launch modal 2
  </button>
  <modal-dialog modalId="modal2">
    <div head> Dialog 2! </div>
    <div body> Body 2 </div>
    <div footer> Footer 2 </div>
  </modal-dialog>
</div>
